[alias]
    clean-all = "clean -dfx"
    reset-all-to-remote = !"_() { \
        git remote update -p; \
        git remote | while read -r remote; do \
            git remote set-head ${remote} -a; \
        done; \
        git checkout --detach; \
        git branch | xargs git branch -D; \
        git reset --hard HEAD; \
        eval \"$(git for-each-ref --shell --format='git checkout --track %(refname)' refs/remotes/${1})\"; \
        git clean -df; \
    }; _"
    reset-all-to-origin = "reset-all-to-remote origin"